{% extends 'base.html.twig' %}

{% block title %}
	Página de inicio
{% endblock %}

{% block body %}

	<div	class="container-fluid">
		<!-- start page title -->
		<div	class="row">
			<div	class="col-12">
				<div	class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">

					<div	class="page-title-right">
						<ol	class="breadcrumb m-0">
							<li	class="breadcrumb-item active">
								Mi portal
							</li>
						</ol>
					</div>

				</div>
			</div>
		</div>
		<!-- end page title -->
		<div	class="row">
			<div	class="col-12 col-md-6">
				<!-- Simple card -->
				<a	href="{{ path('app_secure_internal_user_user_racklatina') }}">
					<div	class="card">
						<img	class="card-img-top img-fluid"	src="{{ asset('images/usuariosRacklatina.png') }}"	alt="Card image cap">
							<div	class="card-body"	style="min-height: 190px;">

								<h4	class="card-title mb-2">
									Gestión de usuarios Racklatina
								</h4>
								<p	class="card-text">
									Desde aquí podrás gestionar a los usuarios internos de Racklatina. Podés crear, editar, eliminar
								</p>
								<div	class="text-end"></div>
							</div>
						</div>
					</a>
				<!-- end card -->
				</div>
				<div	class="col-12 col-md-6">
				<!-- Simple card -->
				<a	href="{{ path('app_secure_internal_user_user_cliente') }}">
					<div	class="card">
						<img	class="card-img-top img-fluid"	src="{{ asset('images/usuariosclientes.png') }}"	alt="Card image cap">
							<div	class="card-body"	style="min-height: 190px;">

								<h4	class="card-title mb-2">
									Gestión de usuarios clientes
								</h4>
								<p	class="card-text">
									Desde aquí podrás gestionar a los usuarios clientes de la plataforma. Podés crear, editar, eliminar
								</p>
								<div	class="text-end"></div>
							</div>
						</div>
					</a>
				<!-- end card -->
				</div>
			</div>
			<div class="row">
			<div	class="col-12 col-md-6">
				<!-- Simple card -->
				<a	href="{{ path('app_secure_internal_customer_request') }}">
					<div	class="card">
						<img	class="card-img-top img-fluid"	height="150"	src="{{ asset('images/solicitudes.png') }}"	alt="Card image cap">
							<div	class="card-body"	style="min-height: 190px;">
								<h4	class="card-title mb-2">
									Gestión de solicitudes
								</h4>
								<p	class="card-text">
									Desde aquí podrás ver y gestionar las solicitudes enviadas por los usuarios para acceder a funcionalidades o permisos específicos dentro de la plataforma. Podés aprobarlas, rechazarlas o revisarlas en detalle.
								</p>
								<div	class="text-end"></div>
							</div>
						</div>
					</a>
				<!-- end card -->
				</div>
			<!-- end col -->
			<div	class="col-12 col-md-6">
				<!-- Simple card -->
				<a	href="{{path('app_gestor_ordenes_de_compra')}}">
					<div	class="card">
						<img	class="card-img-top img-fluid"	height="150"	src="{{ asset('images/ordenes_de_compra.png') }}"	alt="Card image cap">
							<div class="card-body" style="min-height: 190px;">
								<h4	class="card-title mb-2">
									Informes de ordenes de compra
								</h4>
								<p	class="card-text">
									Desde aquí podras ver las ordenes de compra de los clientes registrados.
								</p>
								<div class="text-end">
									
								</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

{% endblock %}
		