{% extends 'base.html.twig' %}

{% block title %}
    Usuarios
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Datatables/datatables.min.css') }}">
{% endblock %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('app_home') }}">
                                        Mi portal
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Solicitudes
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-12 d-flex justify-content-start align-items-start mb-3">
                <button class="btn bg-primary" onclick="window.location.href='{{ path('app_asignar') }}'">Cargar clientes</button>
            </div>
                <div class="col-12 d-flex justify-content-end align-items-end mb-3">
                    <div>
                        {% for estado in estadosDisponibles %}
                            <a href="{{ path('app_secure_internal_customer_request', { status: estado.value }) }}" class="btn btn-outline-primary {% if statusFiltro == estado.value %}active{% endif %}">
                                {{ estado.label() }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show mt-2" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row mt-3">
                <div class="col-12">
                    <table id="tabla-solicitudes" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Apellido y Nombre
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for solicitud in solicitudes %}
                                <tr>
                                    <td>
                                        {{ solicitud.id }}
                                    </td>
                                    <td>
                                        {{ solicitud.userRequest.email }}
                                    </td>
                                    <td>
                                        {{ solicitud.userRequest.firstName ~ ' ' ~ solicitud.userRequest.lastName }}
                                    </td>
                                    <td>
                                        {{ solicitud.requestType.label() }}
                                    </td>
                                    <td>
                                        {{ solicitud.status.label() }}
                                    </td>
                                    <td>
                                        {{ solicitud.createdAt|date('d/m/Y H:i') }}
                                    </td>
                                    <td>
                                        {% if solicitud.status.label == 'Pendiente' %}
                                            <a href="{{ path('app_secure_internal_customer_request_review', { id: solicitud.id }) }}" class="btn btn-sm btn-warning" data-turbo="false">
                                                Revisar
                                            </a>
                                        {% else %}
                                            <a href="{{ path('customer_secure_internal_request_show', { id: solicitud.id }) }}" class="btn btn-sm btn-secondary" data-turbo="false">
                                                <i style="font-size:16px" class="ri-eye-fill"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-end">
                    <a class="btn btn-secondary" href="{{ path('app_home') }}">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ asset('Datatables/datatables.min.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    $('#tabla-solicitudes').DataTable({
        language: {
            url: esDatatable
        }
    });


});
</script>
{% endblock %}
    