{% extends 'base.html.twig' %}
{% block title %}
    Pedidos Relacionados
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    {% endblock %}
    {% block body %}
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('app_home') }}">
                                        Mi portal
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Ordenes de compra
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-12 d-flex justify-content-end align-items-end mb-3">
					<div>
						<a href="{{path('app_secure_external_sales_order_sales_order',{status:'Todas'})}}" class="btn {{ status=='Todas'? 'active':'' }} btn-outline-primary">Todas</a>
						<a href="{{path('app_secure_external_sales_order_sales_order',{status:'Pendiente'})}}" class="btn {{ status=='Pendiente'? 'active':'' }} btn-outline-primary">Pendiente</a>
						<a href="{{path('app_secure_external_sales_order_sales_order',{status:'Remitido'})}}" class="btn {{ status=='Remitido'? 'active':'' }} btn-outline-primary">Remitido</a>
						<a href="{{path('app_secure_external_sales_order_sales_order',{status:'Depurado'})}}" class="btn {{ status=='Depurado'? 'active':'' }} btn-outline-primary">Depurado</a>
					</div>
				</div>
			</div>
            <div class="row mt-4">
                <div class="col-12">
                    <table id="tabla-pedidos" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Orden Compra Cliente
                                </th>
                                <th>
                                    Nro pedido
                                </th>
                                <th>
                                    Razón Social
                                </th>
                                <th>
                                    Fecha Pedido
                                </th>
                                <th>
                                    Detalle
                                </th>
                                <th>
                                    Estado
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pedido in pedidos %}
                                {% if pedido.estado == status or status == 'Todas' %}
                                
                                <tr>
                                    <td>
                                        {{ pedido.ordencompracliente }}
                                    </td>
                                    <td>
                                        {{ pedido.numero }}
                                    </td>
                                    <td>
                                        {{ pedido.razonsocial }}
                                    </td>
                                    <td data-order="{{ pedido.fechapedido ? pedido.fechapedido|date('Y-m-d') : '' }}">
                                        {{ pedido.fechapedido ? pedido.fechapedido|date('d/m/Y') : '' }}
                                    </td>
                                    <td>
                                        {{ pedido.detalle }}
                                    </td>
                                    <td>
                                        {{ pedido.estado }}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_secure_external_sales_order_sales_order_ver_en_detalle', {'cliente_id': pedido.cliente, 'orden_compra_cliente_id': pedido.ordencompracliente,'item':pedido.item}) }}" class="btn btn-outline-primary btn-sm">
                                            Detalle
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-end">
                    <a class="btn btn-secondary" href="{{ path('app_home') }}">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#tabla-pedidos').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                },
                order: [[3, 'desc']]
            });
        });
    </script>
    {% endblock %}