{% extends 'base_public.html.twig' %}

{% block title %}Racklatina - Portal clientes
{% endblock %}

{% block body %}

	<!-- auth page content -->

	<!-- end row -->

		<div class="row justify-content-center"> <div class="col-md-8 col-lg-6 col-xl-5">
			<div class="card mt-4 card-bg-fill">

				<div class="card-body p-4">
					<div class="text-center mt-2">
						<h5 class="text-rkl-secondary">Registro de clientes</h5>
						{# <p class="text-muted"></p> #}
					</div>
					<div class="p-2 mt-4">
						{{ form_start(form, {attr: {'data-turbo': 'false',class: 'needs-validation'}}) }}
						{% for error in form.vars.errors %}
							<div class="alert alert-danger">{{ error.message }}</div>
						{% endfor %}
						{% if form.vars.errors|length > 0 %}
							<div class="alert alert-danger">
								{{ form_errors(form) }}
							</div>
						{% endif %}

						<div class="mb-3">
							{{ form_label(form.firstName) }}
							{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.firstName) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.lastName) }}
							{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.lastName) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.cuit) }}
							{{ form_widget(form.cuit, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.cuit) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.email) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.plainPassword) }}
							{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.plainPassword) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.companyName) }}
							{{ form_widget(form.companyName, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.companyName) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.phoneNumber) }}
							{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.phoneNumber) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.jobTitle) }}
							{{ form_widget(form.jobTitle, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.jobTitle) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.role) }}
							{{ form_widget(form.role, {'attr': {'class': 'form-select'}}) }}
							{{ form_errors(form.role) }}
						</div>

						<div class="mt-4">
							<button class="btn btn-primary w-100" type="submit">Registrarse</button>
						</div>

						{{ form_end(form) }}
						<div class="mt-4 text-center">
							<div class="mt-4 text-center">
								<p class="mb-0">¿Ya tenés cuenta?
									<a href="{{ path('app_login') }}" class="fw-semibold text-rkl-primary text-decoration-underline">
										Iniciá sesión
									</a>
								</p>
							</div>
						</div>

					</div>
				</div>
				<!-- end card body -->
			</div>
			<!-- end card -->


		</div>
	</div>
	<!-- end row -->
{% endblock %}
