{% extends 'base.html.twig' %}
{% block title %}
	Página de inicio
{% endblock %}
{% block body %}
	<div	class="container-fluid">
		<!-- start page title -->
		<div	class="row">
			<div	class="col-12">
				<div	class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
					<div	class="page-title-right">
						<ol	class="breadcrumb m-0">
							<li	class="breadcrumb-item active">
								Mi portal
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		{% if user.externalUserData and not user.externalUserData.profileCompleted %}
			<div	class="row">
				<div	class="col-12">
					<div	class="alert alert-warning">
						Su perfil se encuentra incompleto. Por favor, complete los datos accediendo a
						<a	href="{{ path('app_mi_perfil_controllador_edicion') }}">
							Editar mi perfil
						</a>
					</div>
				</div>
			</div>
		{% endif %}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div	class="alert alert-{{ label }} alert-dismissible fade show mt-2"	role="alert">
					{{ message }}
					<button	type="button"	class="btn-close"	data-bs-dismiss="alert"></button>
				</div>
			{% endfor %}
		{% endfor %}
		<!-- end page title -->
		<div	class="row">
			<div	class="col-12 col-sm-6 col-lg-4">
				<!-- Simple card -->
				<a	href="{{ path('app_secure_external_customer_request') }}">
					<div	class="card">
						<img	class="card-img-top img-fluid"	src="{{ asset('images/mis_solicitudes.png') }}"	alt="Card image cap" />
						<div	class="card-body"	style="min-height: 190px;">
							<h4	class="card-title mb-2">
								Gestioná tus solicitudes de permiso
							</h4>
							<p	class="card-text">
								Desde aquí podés ver el estado de tus pedidos y generar nuevas solicitudes para actuar en representación de un cliente.
							</p>
							<div	class="text-end"></div>
						</div>
					</div>
				</a>
			<!-- end card -->
			</div>
			<div	class="col-12 col-sm-6 col-lg-4">
				<!-- Simple card -->
				<a	href="{{ path('app_secure_external_sales_order_sales_order',{status:'Todas'}) }}">
					<div	class="card">
						<img	class="card-img-top img-fluid"	height="150"	src="{{ asset('images/ordenes_de_compra.png') }}"	alt="Card image cap" />
						<div	class="card-body"	style="min-height: 190px;">
							<h4	class="card-title mb-2">
								Órdenes de Compra
							</h4>
							<p	class="card-text">
								Visualizá y gestioná las órdenes de compra de los clientes a los que representás.
							</p>
							<div	class="text-end"></div>
						</div>
					</div>
				</a>
			<!-- end card -->
			</div>
		<!-- end col -->
		</div>
	</div>
{% endblock %}
