{% if remitos is not empty %}
        <div class="row mb-3">
            <div class="col-md-6">
                {# <p><strong>DB Schema ID:</strong> {{ remito.dbschemaid ?? 'N/A' }}</p> #}
                <p><strong>Fecha:</strong> {{ remitos[0].fecha ? remitos[0].fecha|date('d/m/Y') : 'N/A' }}</p>
                <p><strong>Remito:</strong> {{ remitos[0].remito ?? 'N/A' }}</p>
                <p><strong>Razón Social:</strong> {{ remitos[0].razonSocial ?? 'N/A' }}</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm small">


                <thead>
                    <tr >
                        <th class="text-center">Codigo articulo</th>
                        <th class="text-center">Nombre articulo</th>
                        <th class="text-center" title="Servicio">Serv.</th>
                        <th class="text-center">Cotizacion</th>
                        <th class="text-center">Moneda</th>
                        <th class="text-center">Entregado</th>
                        <th class="text-center">Facturado</th>
                        <th class="text-center">Pendiente</th>
                        <th class="text-center" title="Nombre del comprobante">Comprobante</th>
                        <th class="text-center" title="Tipo de comprobante">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for remito in remitos %}
                        <tr>
                            <td class="text-center">{{ remito.codigoArticulo }}</td>
                            <td >{{ remito.nombreArticulo }}</td>
                            <td class="text-center">{{ remito.servicio }}</td>
                            <td >$&nbsp;{{ remito.cotizacion|number_format(2, ',', '.') }}</td>
                            <td class="text-center">{{ remito.moneda }}</td>
                            <td class="text-center">{{ remito.entregado }}</td>
                            <td class="text-center">{{ remito.facturado }}</td>
                            <td class="text-center">{{ remito.pendiente }}</td>
                            <td >{{ remito.nombreComprobante }}</td>
                            <td class="text-center">{{ remito.tipoComprobante }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
    <div class="alert alert-info">
        No se encontraron datos para el remito #{{ numero }}
    </div>
{% endif %}