{% if remitos is not empty %}
        <div class="row mb-3">
            <div class="col-md-6">
                {# <p><strong>DB Schema ID:</strong> {{ remito.dbschemaid ?? 'N/A' }}</p> #}
                <p><strong>Fecha:</strong> {{ remitos[0].fecha ? remitos[0].fecha|date('d/m/Y') : 'N/A' }}</p>
                <p><strong>Remito:</strong> {{ remitos[0].remito ?? 'N/A' }}</p>
                <p><strong>Número de pedido:</strong> {{ remitos[0].numero ?? numero }}</p>
                <p><strong>Código Cliente:</strong> {{ remitos[0].codigoCliente ?? 'N/A' }}</p>
                <p><strong>Razón Social:</strong> {{ remitos[0].razonSocial ?? 'N/A' }}</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm small">


                <thead>
                    <tr >
                        <th>Codigo articulo</th>
                        <th>Nombre articulo</th>
                        <th title="Servicio">Serv.</th>
                        <th>Cotizacion</th>
                        <th>Moneda</th>
                        <th>Entregado</th>
                        <th>Facturado</th>
                        <th>Pendiente</th>
                        <th title="Nombre del comprobante">Comprobante</th>
                        <th title="Tipo de comprobante">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for remito in remitos %}
                        <tr>
                            <td >{{ remito.codigoArticulo }}</td>
                            <td >{{ remito.nombreArticulo }}</td>
                            <td >{{ remito.servicio }}</td>
                            <td >{{ remito.cotizacion }}</td>
                            <td >{{ remito.moneda }}</td>
                            <td>{{ remito.entregado }}</td>
                            <td>{{ remito.facturado }}</td>
                            <td>{{ remito.pendiente }}</td>
                            <td >{{ remito.nombreComprobante }}</td>
                            <td >{{ remito.tipoComprobante }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
    <div class="alert alert-info">
        No se encontraron datos para el remito #{{ numero }}
    </div>
{% endif %}