<table id="tabla-ordenes" class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
             <th>
                Orden Compra Cliente
            </th>
            <th>
                Nro pedido
            </th>
            <th>
                Razón Social
            </th>
            <th>
                Fecha Pedido
            </th>
            <th>
                Detalle
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        {% for orden in ordenes %}
            <tr>
                <td>{{ orden.ordencompracliente }}</td>
                <td>{{ orden.numero }}</td>
                <td>{{ orden.razonsocial }}</td>
                <td>{{ orden.fechapedido|date('d/m/Y') }}</td>
                <td>{{ orden.pendientes }}</td>
                <td>{{ orden.remitidos }}</td>
                <td>
                    <a href="{{ path('app_secure_internal_sales_order_sales_order_ver_en_detalle', {'cliente_id': orden.cliente, 'numero_pedido': orden.numero, 'orden_compra_cliente_id': orden.ordencompracliente}) }}" class="btn btn-outline-primary btn-sm">
                        Detalle
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
