{% extends 'base.html.twig' %}
{% block title %}
    Pedidos Relacionados
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Datatables/datatables.min.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.6.2/css/colReorder.dataTables.min.css">

    {% endblock %}
    {% block body %}
    
    <div class="row mt-4">
        <div class="col-12">
            <table id="tabla-articulos" class="table table-striped">
                <thead>
                    <tr>
                        <th>Orden de compra</th>

                        <th>Código de articulo</th>
                        <th>Cantidad pendiente</th>
                        <th>Numero de pedido</th>
                        <th>Detalle</th>
                        <th class="bg-primary">Fecha estimada</th>
                        <th>Fecha de pedido</th>
                        <th>Ver O.C. detalle</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for articulo in pedidos %}
                        <tr>
                            <td>{{ articulo.ordencompracliente }}</td>
                            <td>{{ articulo.articulo }}</td>
                            <td>{{ articulo.cantidadPendiente }}</td>
                            <td>{{ articulo.numero }}</td>
                            <td>{{ articulo.detalle }}</td>
                            <td class="bg-primary">{{ articulo.fechaEstimada }}</td>
                            <td>{{ articulo.fechapedido|date('d/m/Y') }}</td>
                            <td>
                                                <a href="{{ path('app_secure_internal_sales_order_sales_order_ver_en_detalle', {'numero_pedido':pedido.numero,'cliente_id': pedido.cliente, 'orden_compra_cliente_id': pedido.ordencompracliente,status:app.request.get('status') ? app.request.get('status'):'Todas',search: app.request.get('search'),searchType: app.request.get('searchType')}) }}" class="btn btn-outline-primary btn-sm">
                                                    Detalle
                                                </a>
                                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ asset('Datatables/datatables.min.js') }}"></script>
        <script src="https://cdn.datatables.net/colreorder/1.6.2/js/dataTables.colReorder.min.js"></script>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#tabla-articulos').DataTable({
                language: {
                    url: esDatatable
                },
                order: [[3, 'desc']],
                 stateSave: true,
                dom: 'Bfrtip',
                buttons: [
                        'colvis',
                        {
                            extend: 'excelHtml5',
                            title: 'articulo cliente interno',
                            filename: 'Orden_de_compra_nro_{{ orden_de_compra.OrdenCompraCliente }}_pedido_nro_{{orden_de_compra.numero}}'
                        }
                    ],
                dom: "<'row mb-3'<'col-sm-12 col-md-4'l><'col-sm-12 col-md-4 text-center'B><'col-sm-12 col-md-4'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row mt-3'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                colReorder: true
            });
        });
    </script>
    {% endblock %}