<table id="tabla-usuarios" class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th><th>Email</th><th>Nombre</th><th>Apellido</th><th>DNI</th><th>Roles</th><th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in empleados %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.nationalIdNumber }}</td>
                <td>
                    {% for rol in user.getRoles %}
                        <span class="badge bg-secondary">{{ rol|replace({'ROLE_': ''})|replace({'_': ' '})|title }}</span>
                    {% endfor %}
                </td>
                <td>
                <button onclick="modalVerEmpleado({{user.id}})" class="btn btn-sm btn-outline-primary">Ver</button>
                <button onclick="modalEditarEmpleado({{user.id}})" class="btn btn-sm btn-outline-primary">Editar</button>
                <button onclick="EliminarUsuarioEmpleado({{user.id}})" class="btn btn-sm btn-outline-primary">Eliminar</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>