{% extends 'base.html.twig' %}

{% block title %}Editar Perfil{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-header btn-primary text-white text-center">
                    <h4 class="mb-0">Editar Perfil</h4>
                    </div>
                    <form method="post" action="{{ path('app_editar_perfil_guardar') }}">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value="{{ user.firstName }}">
                        </div>

                        <div class="mb-3">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value="{{ user.lastName }}">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                        </div>

                        <div class="mb-3">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="text" class="form-control" id="dni" name="dni" value="{{ user.nationalIdNumber }}">
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
