{% set current_route = app.request.get('_route') %}

<li class="nav-item">
    <a href="{{ path('app_home') }}"
       class="nav-link menu-link menu-link {% if current_route == 'app_home' or current_route == 'app_secure_internal_home' %}active{% endif %}"
       data-key="t-home">
        <i class="ri-home-line"></i>
        <span data-key="t-home">Mi portal</span>
    </a>
</li>

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="nav-item">
        <a href="{{ path('app_secure_internal_user_user_racklatina') }}"
           class="nav-link menu-link {% if current_route == 'app_secure_internal_user_user_racklatina' %}active{% endif %}"
           data-key="t-analytics">
            <i class="ri-team-line"></i>
            <span>Usuarios Racklatina</span>
        </a>
    </li>
{% endif %}

<li class="nav-item">
    <a href="{{ path('app_secure_internal_user_user_cliente') }}"
       class="nav-link menu-link {% if current_route == 'app_secure_internal_user_user_cliente' %}active{% endif %}"
       data-key="t-analytics">
        <i class="ri-group-line"></i>
        <span>Usuarios clientes</span>
    </a>
</li>

<li class="nav-item">
    <a href="{{ path('app_secure_internal_customer_request') }}"
       class="nav-link menu-link {% if current_route == 'app_secure_internal_customer_request' %}active{% endif %}"
       data-key="t-crm">
        <i class="ri-tools-line"></i>
        <span>Solicitudes</span>
    </a>
</li>

<li class="nav-item">
    <a href="{{ path('app_gestor_ordenes_de_compra') }}"
       class="nav-link menu-link {% if current_route == 'app_gestor_ordenes_de_compra' %}active{% endif %}"
       data-key="t-crm">
        <i class="ri-file-list-3-line"></i>
        <span>Informes de órdenes de compra</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link menu-link collapsed {% if current_route in ['app_comprobantes_impagos_internal', 'app_c_saldados'] %}active{% endif %}"
       href="#sidebarCuentas"
       data-bs-toggle="collapse"
       role="button"
       aria-expanded="{% if current_route in ['app_comprobantes_impagos_internal', 'app_c_saldados'] %}true{% else %}false{% endif %}"
       aria-controls="sidebarCuentas"
       data-key="t-crm">
        <i class="ri-folder-user-line"></i>
        <span>Administración</span>
    </a>
    <div class="collapse {% if current_route in ['app_comprobantes_impagos_internal', 'app_c_saldados'] %}show{% endif %}" id="sidebarCuentas">
        <ul class="nav nav-sm flex-column">
            <li class="nav-item">
                <a href="{{ path('app_comprobantes_impagos_internal') }}"
                   class="nav-link {% if current_route == 'app_comprobantes_impagos_internal' %}active{% endif %}"
                   data-key="t-comprobantes-impagos">
                    Comprobantes impagos
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_c_saldados', {tipo: 'TODAS'}) }}"
                   class="nav-link {% if current_route == 'app_c_saldados' %}active{% endif %}"
                   data-key="t-comprobantes">
                    Comprobantes
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a href="{{ path('app_secure_internal_services') }}"
       class="nav-link menu-link {% if current_route == 'app_secure_internal_services' %}active{% endif %}"
       data-key="t-crm">
        <i class="ri-customer-service-2-line"></i>
        <span>Solicitudes de Servicio</span>
    </a>
</li>

<li class="nav-item">
    <a href="{{ path('app_carousel_index') }}"
       class="nav-link menu-link {% if current_route starts with 'app_carousel_' %}active{% endif %}"
       data-key="t-carousel">
        <i class="ri-slideshow-3-line"></i>
        <span>Carousel</span>
    </a>
</li>